<!DOCTYPE html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>




<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">*@

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body class="w3-light-grey">

    <!-- Top container -->
    <div class="w3-bar w3-top  w3-large" style="z-index:4;background: #178be7; height: 45px;">
        <div class="form-group col-lg-12 col">
            <div class="input-group col-md-9" style="float: left; padding-right: 10px;">
                <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i></button>
                <lable  style="font-size: xx-large;

    font-style: italic;
    color: antiquewhite;
    margin-right: 170px;">
                    Hotel
                </lable>




            </div>
            <div class="input-group col-md-3">
                <a href="/Home/Hotel"> <input type="button" style=" margin-top: 5px;color: currentcolor; width: 108px;float: right; margin-right: 30px;" value="sign up"></a>
            </div>

        </div>

    </div>

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar">
        <br>
        <div class="w3-container w3-row">

            <div class="w3-col s8 w3-bar">
                <span>Welcome, <strong>Admim</strong></span><br>

            </div>
        </div>
        <hr>
        <div class="w3-container">

        </div>
        <div class="w3-bar-block">

            <a href="~/Admin/index" class="red2 w3-bar-item w3-button w3-padding "><i class="fa fa-home fa-fw"></i> Home</a>

            <a href="~/Admin/GetEmpoloyee" class="darkgray w3-bar-item w3-button w3-padding "><i class="fa fa-users fa-fw"></i> Empolyee</a>
            <a href="~/Admin/GetCustomer" class="red w3-bar-item  2  w3-button w3-padding "><i class="fa fa-users fa-fw"></i> Customer</a>
            <a href="~/Admin/compoling" class="red3 w3-bar-item  2  w3-button w3-padding "><i class="fa fa-comment fa-fw"></i> compoling</a>
            <a href="~/Admin/Room" class="red1 w3-bar-item w3-button 3 w3-padding"><i class="fa fa-home fa-fw"></i> Room</a>

        </div>
    </nav>

    <div>
        <div class="w3-main" style="margin-left:300px;margin-top:45px;">
            <br />
            @RenderBody()
        </div>
    </div>
</body>
<script>
    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            overlayBg.style.display = "none";
        } else {
            mySidebar.style.display = 'block';
            overlayBg.style.display = "block";
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
       
    }
</script>

