<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reception</title>
    <!--File Font-awesone -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!--bootstrap Css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--Add Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap" rel="stylesheet" />
    <!--Noraml External1 of list  Style-->
    <link href="~/CSS/ListStyle.css" rel="stylesheet" />
    <!--Script boot strab-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- EndScript boot strab-->

</head>
<body>

    <!--Start List-->
    <nav class="col-3 list mt-4 ml-3  w3-collapse  w3-animate-left "style="z-index:3;width:300px;" id="mySidebar">
        <ul class="row">
            <li class="col-12"><a href="#"><i class="fas fa-h-square"></i><span>otel</span></a></li>
            <li class="col-12"><a href="#"><i class="fas fa-home"></i>Home</a></li>
            <li class="col-12"><a href="~/Customer/RoomCustomerRoom"><i class="fas fa-user-plus"></i>Reseve Room</a></li>
            <li class="col-12"><a href="~/Customer/Compoling"><i class="fas fa-exclamation-triangle"></i>Complain</a></li>
            <li class="col-12"><a href="~/Customer/myRoom"><i class="fas fa-user-plus"></i>My Room</a></li>

            <li class="col-12"><a href="~/Home/Hotel"><i class="fas fa-sign-out-alt"></i>Log out</a></li>
        </ul>
        <div class="row List2">
            <span class="col mb-4"><i class="fab fa-facebook"></i></span>
            <span class="col mb-4"><i class="fab fa-facebook-messenger"></i></span>
            <span class="col mb-4"><i class="fab fa-twitter"></i></span>
            <span class="col mb-4"><i class="fab fa-instagram"></i></span>
        </div>
    </nav>

    <!--End List-->
</body>
</html>
<script>
    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
       
        if (mySidebar.style.display === 'block') {
           
            mySidebar.style.display = 'none';
            //overlayBg.style.display = "none";
        } else {
            mySidebar.style.display = 'block';
            //overlayBg.style.display = "block";
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";

    }
</script>

